<% provide(:title, @title) %>
<h1><%= @header %></h1>

<div class="paginate"><%= will_paginate %></div>

<ul class="books">
	<% @books.each do |book| %>
		<li>
	  		<%= render book %>
	  	</li>
	<% end %>
</ul>

<div class="paginate"><%= will_paginate %></div>
