<% provide(:title, @title) %>
<h1><%= @header %></h1>

<div class="paginate"><%= will_paginate @books.results %></div>

<ul class="books">
	<% @books.each_hit_with_result do |hit, book| %>
		<li>
	  		<%= render book %>
	  	</li>
	<% end %>
</ul>

<div class="paginate"><%= will_paginate @books.results %></div>
